@import url('https://fonts.googleapis.com/css?family=Bangers|Basic');

* {
    margin: 0;
    padding: 0;
    font-family: 'Basic', sans-serif;
}

body {
    width: 80%;
    margin: auto;
    padding: 12px;
}

main {
    padding: 12px;
}
/***** alert *****/
.alert {
    width: 100%;
    height: 19%;
    margin: 0% 0% 2% -1%;
    text-align: center;
    background-color: white;
}

h2{
    font-size: 70px;
    font-family: 'Bangers', cursive;
    text-align: center;
}

h3{
    font-size: 30px;
    font-family: 'Basic', sans-serif;
    text-align: center;
}

#novidades{
    background-position: center;
    text-align: center;
}

body{
    background-color: #18f7e1;
}

ul{
    font-family: 'Bangers', cursive;
    text-align: center;
    float: left;
    margin: 0% 0% 3% -1%;
    background-color: white;
    width: 100%;
    height: 80px;
}

li{
    display: inline;
    margin: 1%;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    text-align: center;
    margin: 1%;
    text-decoration: none;
    color: black; 
}

#social{
    text-align: center; 
    height: 50px;
}

#botao{
    background-color: black; 
    border: none;
    border-radius: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Basic', sans-serif;
}

#caixaTexto{
    border: none;
    border-radius: 100px;
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Basic', sans-serif;
    font-size: 17px;
}

label{
    font-family: 'Basic', sans-serif;
    font-size: 20px;
    margin: 1%;
}

#ulAdmin{
    background-color:#18f7e1;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid black;
    padding: 10px; 
    font-family: 'Basic', sans-serif;
    font-size: 25px;
}

p{
    text-align: justify;
    font-size: 24px;
    font-family: 'Basic', sans-serif;
    padding: 0% 20% 0% 20%;
}

#imgProd{
    text-align: center;
    margin: 5%;
    width: 25%;
    height: 35%;
}

#imgProd1{
    text-align: center;
    margin: 5%;
    width: 20%;
    height: 26%;
}

#msg{
    border: none;
    border-radius: 8%;
    background-color: white;
    color: black;
    padding: 6% 12%;
    text-align: center;
    font-family: 'Basic', sans-serif;
    font-size: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


